.footer__column_content_copyright {
  -ms-flex-preferred-size: 711px;
  -webkit-flex-basis: 711px;
  flex-basis: 711px;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
	-webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 640px) {
  .footer__column_content_copyright {
    flex-basis: initial;
    order: 3;
  }
}
