.feynman__title {
  position: relative;
  z-index: 1;
  width: 648px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  font-size: 120px;
  line-height: 1.15;
}
