.feynman__title {
  position: relative;
  z-index: 1;
  max-width: 648px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  font-size: 120px;
  line-height: 1.15;
}

@media screen and (max-width: 639px) {
  .feynman__title {
    margin: 0 15px;
  }
}

@media screen and (max-width: 767px) {
  .feynman__title {
    font-size: 45px;
  }
}

@media screen and (max-width: 449px) {
  .feynman__title {
    font-size: 33px;
  }
}
