.feynman__link {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 48px;
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #000;
  -webkit-transition: .3s linear;
  -moz-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
}

.feynman__link:hover {
  opacity: .3;
}

@media screen and (max-width: 1049px) {
  .feynman__link {
    top: 70%;
    right: 20%;
  }
}

@media screen and (max-width: 767px) {
  .feynman__link {
    top: 60%;
    font-size: 30px;
  }
}

@media screen and (max-width: 539px) {
  .feynman__link {
    font-size: 25px;
  }
}

@media screen and (max-width: 449px) {
  .feynman__link {
    top: 60%;
    font-size: 20px;
  }
}

@media screen and (max-width: 399px) {
  .feynman__link {
    right: 25%;
    font-size: 15px;
  }
}

@media screen and (max-width: 334px) {
  .feynman__link {
    right: 22%;
  }
}
