.feynman__link {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 48px;
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-decoration: none;
  color: #000;
}

.feynman__link:hover {
  text-decoration: underline;
}
