.section-title {
  width: 60%;
  margin: 0;
  padding: 0 0 20px 0;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  font-size: 60px;
  line-height: 1.15;
}

@media screen and (max-width: 599px) { /* 599 */
  .section-title {
    font-size: 45px;
  }
}

@media screen and (max-width: 449px) {
  .section-title {
    font-size: 33px;
  }
}
