.footer__columns {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
	-webkit-justify-content: space-between;
  justify-content: space-between;
  width: 90%;
  margin: 60px auto 40px auto;
  padding: 0;
}

@media screen and (max-width: 640px) {
  .footer__columns {
    flex-direction: column;
    margin: 30px auto 40px auto;
  }
}
