.dylan {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;
  background-color: #f2f2f2;
  overflow: hidden;
}

@media screen and (max-width: 790px) {
  .dylan {
    height: 80vh;
  }
}

@media screen and (max-height: 499px) {
  .dylan {
    height: 450px;
  }
}

@media screen and (max-width: 500px) {
  .dylan {
    height: 1100px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
  }
}
