.resources__logo-zone {
  padding: 0;
  margin: 80px auto 0;
  list-style: none;
}

@media screen and (max-width: 1149px) {
  .resources__logo-zone {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
