.footer__column-link {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  text-decoration: none;
  list-style: none;
  color: white;
  transition: .3s linear;
  white-space: nowrap;
}

.footer__column-link:hover {
  opacity: .3;
}
