.video {
  position: relative;
  top: 50px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
  align-items: center;
  padding-top: 50px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .video {
    padding-top: 0;
  }
}
