.header__title {
  z-index: 2;
  max-width: 730px;
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  font-size: 102px;
  line-height: 96px;
}

@media screen and (max-width: 640px) { /* -160px */
  .header__title {
    transform: translate(0, -160px);
    font-size: 60px;
    line-height: 1.3;
  }
}

@media screen and (max-width: 499px) {
  .header__title {
    transform: translate(0, -110px);
  }
}

@media screen and (max-width: 349px) {
  .header__title {
    transform: translate(0, -80px);
    font-size: 45px;
  }
}
