.dylan__lyrics {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-self: center;
  align-self: flex-end;
  padding: 50px;
  margin: 0;
  font-family: Courgette, cursive;
  font-size: 60px;
  line-height: 1.15;
}

@media screen and (max-width: 889px) {
  .dylan__lyrics {
    font-size: 35px;
    padding: 25px;
  }
}

@media screen and (max-width: 790px) {
  .dylan__lyrics {
    align-self: center;
  }
}

@media screen and (max-width: 500px) {
  .dylan__lyrics {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-top: 55px;
  }
}
