.header__link {
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #2f80ed;
  -webkit-transition: .3s linear;
  -moz-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
}

.header__link:hover {
  opacity: .3;
}

@media screen and (max-width: 390px) {
  .header__link {
    text-decoration: underline;
    color: white;
  }
}
