.feynman__subtitle {
  position: relative;
  z-index: 1;
  margin: 70px 0 0 0;
  padding: 0;
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
}

@media screen and (max-width: 799px) {
  .feynman__subtitle {
    margin-top: 30px;
  }
}

@media screen and (max-width: 790px) {
  .feynman__subtitle {
    margin-top: 25px;
    font-size: 30px;
  }
}

@media screen and (max-width: 449px) {
  .feynman__subtitle {
    margin-top: 15px;
    font-size: 20px;
    line-height: 35px;
  }
}

@media screen and (max-width: 399px) {
  .feynman__subtitle {
    margin-top: 10px;
  }
}
