.table {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: baseline;
	-webkit-align-items: baseline;
	-ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
	-webkit-justify-content: space-between;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 25px;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 650px) {
  .table {
    margin: 0 35px;
  }
}

@media screen and (max-width: 549px) {
  .table {
    flex-direction: column;
  }
}
