.feynman {
  position: relative;
  min-height: 790px;
  margin: 0;
  padding: 80px 0 0 0;
  background-image: url(../../images/page-images/feynman.png);
  background-size: 70%;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
}

@media screen and (max-width: 899px) {
  .feynman {
    min-height: 700px;
  }
}

@media screen and (max-width: 799px) {
  .feynman {
    min-height: 410px;
  }
}

@media screen and (max-width: 709px) {
  .feynman {
    min-height: 370px;
  }
}

@media screen and (max-width: 449px) {
  .feynman {
    min-height: 250px;
  }
}
