/* Импортируем шрифты */

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

/* Импортируем normalize.css */
@import url(../vendor/normalize.css);

/* Импортируем базовый блок page */
@import url(../blocks/page/page.css);

/* Импортируем общие блоки и компоненты */

/* Импортируем блок logo и его компоненты */
@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_place/logo_place_header.css);
@import url(../blocks/logo/_place/logo_place_footer.css);
/* Импортируем блок section-title и его компоненты */
@import url(../blocks/section-title/section-title.css);
@import url(../blocks/section-title/_theme/section-title_theme_dark.css);
/* Импортируем блок section-subtitle и его компоненты */
@import url(../blocks/section-subtitle/section-subtitle.css);
@import url(../blocks/section-subtitle/_theme/section-subtitle_theme_dark.css);
/* Импортируем блок two-columns и его компоненты */
@import url(../blocks/two-columns/two-columns.css);
@import url(../blocks/two-columns/__brief/two-columns__brief.css);
@import url(../blocks/two-columns/__main-text/two-columns__main-text.css);
@import url(../blocks/two-columns/__paragraph/two-columns__paragraph.css);
@import url(../blocks/two-columns/__span-accent/two-columns__span-accent.css);
/* Импортируем блок cards и его компоненты */
@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__item/cards__item.css);
@import url(../blocks/cards/__item/_center/cards__item_center.css);
@import url(../blocks/cards/__image/cards__image.css);
@import url(../blocks/cards/__title/cards__title.css);
@import url(../blocks/cards/__description/cards__description.css);
/* Импортируем блок table и его компоненты */
@import url(../blocks/table/table.css);
@import url(../blocks/table/_theme/table_theme_dark.css);
@import url(../blocks/table/__cell/table__cell.css);
@import url(../blocks/table/__cell/_theme/table__cell_theme_dark.css);
@import url(../blocks/table/__heading/table__heading.css);
@import url(../blocks/table/__heading/_theme/table__heading_theme_dark.css);
@import url(../blocks/table/__text/table__text.css);
@import url(../blocks/table/__text/_theme/table__text_theme_dark.css);
/* Импортируем блок rotation и его компоненты */
@import url(../blocks/rotation/rotation.css);

/* Импортируем уникальные блоки и компоненты */

/* Импортируем блок header и его компоненты */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__main-illustration/header__main-illustration.css);
@import url(../blocks/header/__square-pic/header__square-pic.css);
/* Импортируем блок content и его компоненты */
@import url(../blocks/content/content.css);
/* Импортируем блок description и его компоненты */
@import url(../blocks/description/description.css);
/* Импортируем блок techniques и его компоненты */
@import url(../blocks/techniques/techniques.css);
/* Импортируем блок video и его компоненты */
@import url(../blocks/video/video.css);
@import url(../blocks/video/__iframes/video__iframes.css);
@import url(../blocks/video/__iframe/video__iframe.css);
/* Импортируем блок oakley и его компоненты */
@import url(../blocks/oakley/oakley.css);
/* Импортируем блок feynman и его компоненты */
@import url(../blocks/feynman/feynman.css);
@import url(../blocks/feynman/__title/feynman__title.css);
@import url(../blocks/feynman/__subtitle/feynman__subtitle.css);
@import url(../blocks/feynman/__link/feynman__link.css);
/* Импортируем блок digits и его компоненты */
@import url(../blocks/digits/digits.css);
/* Импортируем блок khan и его компоненты */
@import url(../blocks/khan/khan.css);
@import url(../blocks/khan/__container/khan__container.css);
@import url(../blocks/khan/__author/khan__author.css);
@import url(../blocks/khan/__title/khan__title.css);
@import url(../blocks/khan/__quote/khan__quote.css);
@import url(../blocks/khan/__quote-author/khan__quote-author.css);
@import url(../blocks/khan/__quote-author-subline/khan__quote-author-subline.css);
@import url(../blocks/khan/__book-container/khan__book-container.css);
@import url(../blocks/khan/__book-pic/khan__book-pic.css);
@import url(../blocks/khan/__buy-link/khan__buy-link.css);
/* Импортируем блок dylan и его компоненты */
@import url(../blocks/dylan/dylan.css);
@import url(../blocks/dylan/__image/dylan__image.css);
@import url(../blocks/dylan/__lyrcis/dylan__lyrics.css);
@import url(../blocks/dylan/__author/dylan__author.css);
@import url(../blocks/dylan/__song/dylan__song.css);
/* Импортируем блок kaufman и его компоненты */
@import url(../blocks/kaufman/kaufman.css);
@import url(../blocks/kaufman/__triangle/kaufman__triangle.css);
/* Импортируем блок resources и его компоненты */
@import url(../blocks/resources/resources.css);
@import url(../blocks/resources/__logo-zone/resources__logo-zone.css);
@import url(../blocks/resources/__logo-link/resources__logo-link.css);
@import url(../blocks/resources/__logo/resources__logo.css);
/* Импортируем блок footer и его компоненты */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__columns/footer__columns.css);
@import url(../blocks/footer/__column/footer__column.css);
@import url(../blocks/footer/__column/_content/footer__column_content_copyright.css);
@import url(../blocks/footer/__author/footer__author.css);
@import url(../blocks/footer/__column-heading/footer__column-heading.css);
@import url(../blocks/footer/__column-links/footer__column-links.css);
@import url(../blocks/footer/__column-link/footer__column-link.css);
@import url(../blocks/footer/__social-icon/footer__social-icon.css);
