.footer {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  min-height: 350px;
  margin: 0;
  padding: 0;
  background-color: #1f1f1f;
}

@media screen and (max-width: 640px) {
  .footer {
    flex-direction: column;
  }
}
