.resources__logo {
  width: 270px;
  height: 38px;
  -webkit-transition: .3s linear;
  -moz-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
}

.resources__logo:hover {
  opacity: .3;
}
