.header__title {
  width: 730px;
  margin: 0 0 0 64px;
  padding: 0;
  z-index: 2;
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
  font-family: 'Exo 2', sans-serif;
  font-size: 102px;
  line-height: 96px;
}

@media screen and (max-width: 1024px) {
  .header__title {
    font-size: 66px;
    transform: translate(0, -255px);
  }
}
