.header {
  overflow: hidden;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
}

@media screen and (max-width: 499px) {
  .header {
    min-height: auto;
    height: 600px;
  }
}

@media screen and (max-width: 349px) {
  .header {
    height: 450px;
  }
}
