/* Общий блок */

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Блоки, элементы и модификаторы */

/* logo — Логотип */

.logo {
  margin: 0;
  padding: 0;
}

.logo__place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.logo__place-footer {

}

/* header — Хэдер */

.header {
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.header__title {
  width: 730px;
  margin: 0 0 0 64px;
  padding: 0;
  z-index: 2;
  align-self: center;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  margin: 0;
  padding: 0;
  left: 64px;
  bottom: 30px;
  z-index: 2;
  color: #000;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  height: 608px;
  width: 765px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}

/* content – Основной контент */

.content {
  margin: 0;
  padding: 0;
}

/* description – Описание */

.description {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

/* twocolumns – Колонки с текстом */

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 100px 0;
  padding: 0;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
  padding: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-columns__paragraph:last-of-type {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-columns__span-accent {
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
}

/* digits – Блок «Цифры и факты» */

.digits {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 0;
  padding: 0;
}

/* Секции */

.section-title {
  align-self: center;
  width: 60%;
  margin: 100px 0 20px 0;
  padding: 0;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;
}

.section-subtitle {
  align-self: center;
  width: 60%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

/* table – Таблица */

.table {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto 100px;
  padding: 0;
}

.table__cell {
  width: 250px;
  margin: 60px 0 0 0;
  padding: 0;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
}

.table__text {
  margin: 20px 0 0 0;
  padding: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}
