/* Общий блок */

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Блоки, элементы и модификаторы */

/* logo — Логотип */

.logo {
  margin: 0;
  padding: 0;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

/* header — Хэдер */

.header {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.header__title {
  width: 730px;
  margin: 0 0 0 64px;
  padding: 0;
  z-index: 2;
  align-self: center;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  margin: 0;
  padding: 0;
  left: 64px;
  bottom: 30px;
  z-index: 2;
  color: #000;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link:hover {
  text-decoration: underline;
}

.header__main-illustration {
  position: absolute;
  height: 608px;
  width: 765px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}

/* content – Основной контент */

.content {
  margin: 0;
  padding: 0;
}

/* description – Описание */

.description {
  display: flex;
  justify-content: center;
  margin: 100px 0;
  padding: 0;
}

/* twocolumns – Колонки с текстом */

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0;
  padding: 0;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
  padding: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-columns__paragraph:last-of-type {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-columns__span-accent {
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
}

/* digits – Блок «Цифры и факты» */

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-bottom: 100px;
}

/* Секции */

.section-title {
  width: 60%;
  margin: 0 0 20px 0;
  padding: 0;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;
}

.section-title_theme_dark {
  z-index: 1;
  margin-top: 90px;
  line-height: 69px;
  color: white;
}

.section-subtitle {
  width: 60%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.section-subtitle_theme_dark {
  z-index: 1;
  color: white;
}

/* table – Таблица */

.table {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto 0;
  padding: 0;
  list-style: none;
}

.table_theme_dark {
  z-index: 1;
  margin: 0 auto 90px;
}

.table__cell {
  width: 250px;
  margin: 60px 0 0 0;
  padding: 0;
}

.table__cell_theme_dark {
  z-index: 1;
  width: 200px;
  margin: 80px 0 0 0;
  color: white;
}

.table__heading {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
}

.table__heading_theme_dark {
  z-index: 1;
  margin: 0 0 20px 0;
  color: white;
}

.table__text {
  margin: 20px 0 0 0;
  padding: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.table__text_theme_dark {
  z-index: 1;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

/* feynman – Блок про метод Фейнмана */

.feynman {
  position: relative;
  min-height: 790px;
  margin: 0;
  padding: 100px 0 0 0;
  background-color: #f2f2f2;
}

.feynman__title {
  position: relative;
  z-index: 1;
  width: 648px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-size: 120px;
  font-weight: bold;
  line-height: 1.15;
}

.feynman__subtitle {
  position: relative;
  z-index: 1;
  margin: 70px 0 0 0;
  padding: 0;
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
}

.feynman__link {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 48px;
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-decoration: none;
  color: #000;
}

.feynman__link:hover {
  text-decoration: underline;
}

.feynman__background {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 867px;
  height: 637px;
}

/* kaufman – Блок про принципы обучения Джоша Кауфмана */

.kaufman {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #1f1f1f;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
}

/* footer – Футер */

.footer {
  display: flex;
  min-height: 350px;
  margin: 0;
  padding: 0;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 60px auto 40px auto;
  padding: 0;
}

.footer__column {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.footer__author {
  font-size: 18px;
  font-style: normal;
  line-height: 25px;
  color: white;
}

.footer__column-heading {
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: white;
}

.footer__column-links {
  padding: 0;
  margin: 0 0 16px 0;
  list-style: none;
}

.footer__column-link {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  text-decoration: none;
  list-style: none;
  color: white;
}

.footer__column-link:hover {
  text-decoration: underline;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
