.dylan__song {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  place-self: center;
  width: 90%;
  border: none;
}

@media screen and (max-width: 790px) {
  .dylan__song {
    align-self: flex-start;
  }
}
